version: 2
jobs:
  build:
    working_directory: /configbuddy.v2
    docker:
      - image: golang:1.12.1
        environment:
          CIRCLE_TEST_REPORTS: /tmp/test-results
          CIRCLE_COVERAGE_REPORT: /tmp/coverage-results
    steps:
      - checkout
      - run:
          name: External Dependencies
          command: |
            cd /go 
            go get -u github.com/mattn/goveralls
            go get -u github.com/jstemmer/go-junit-report
      - run:
          name: Go Build
          command: go build -v
      - run:
          name: Run Tests
          command: |
            mkdir -p ${CIRCLE_COVERAGE_REPORT}
            mkdir -p ${CIRCLE_TEST_REPORTS}
            go test -race -cover -coverprofile=${CIRCLE_COVERAGE_REPORT}/coverage.out ./... > ${CIRCLE_TEST_REPORTS}/test.out
            cat ${CIRCLE_TEST_REPORTS}/test.out | go-junit-report > ${CIRCLE_TEST_REPORTS}/junit.xml
      - run:
          name: Upload Coverage
          command: /go/bin/goveralls -coverprofile=${CIRCLE_COVERAGE_REPORT}/coverage.out -service=circle-ci -repotoken=${COVERALLS_TOKEN}
      - store_test_results:
          path: /tmp/test-results
      - run:
          name: Cleanup
          command: rm configbuddy.v2

  release:
    working_directory: /go/src/github.com/andreic92/configbuddy.v2
    docker:
      - image: golang:1.12.1
    steps:
      - checkout
      - deploy:
          name: goreleaser
          command: |
            if [[ -n ${CIRCLE_TAG} ]]; then
              curl -sL https://git.io/goreleaser | bash
            fi
workflows:
  version: 2
  un-tagged-build:
    jobs:
      - build:
          filters:
            tags:
              ignore: /^v.*/
  tagged-build:
    jobs:
      - release:
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/